@charset "UTF-8";
/* PC用CSSに追加　↓メニュー用　≡　の指定　 ------------------ */
.navmenu {  display: none; /* PCは非表示 */ }

/*  ------------------------------------------------------------ */


/* スマホ用　600px以下の時
================================================================================================ */
@media (max-width: 600px) {


/* -----------------------------------------------------------
　 以下はPC版の設定を変更するためのコード
　 必要に応じて書き加えてください
---------------------------------------------------------------　*/

.main-nav {
display: block; /* フレックスボックス解除 */
text-align: center;  /* 追加　行揃え */
padding-top: 30px; /* 追加　内側上余白 */
}

.main-nav li {
/* PC版　margin-left: 36px;　外側の余白左側  */
    margin: 0; /* 外側余白　すべてゼロに */
    border-bottom: 1px solid #999; /* 追加：下線 */
}
    
.main-nav a { /* リンクしている文字 */
   /* color: #fff; /* 文字色　PC版#432 */
    display: block; /* 追加：リンクの行全体が押せるように */
    padding: 2em; /* 追加：ボタン部分内側余白 */
}
.main-nav a:hover { /* マウスが重なった時 */
    color: #0bd; /* 文字色　PC版#0bd */
    background-color: rgba(0,0,0,0.3); /* 追加：背景色 */
}


/* --------------------------------------------------------------- 
   以下は、分かる部分や★の部分を必要に応じて変更して下さい
---------------------------------------------------------------  */  
    
/* 出てくるメニューの方の指定 ---------------------------- */
.menu {
    position: fixed; /* ポジション固定 */
    top: -999px; /* 上に隠れている */
    left:0; /* ★左から0px  */
    z-index: 999; /* 画面の重なり */
    width: 100%; /* ★横幅 メニューの横幅 */
    height: 100%; /* 高さ100％ */
    background-color: rgba(0,0,0,0.7); /* ★背景色 */
}




/* ≡　の指定 ---------------------------- */  
    .navmenu { 
            display: block; /* 表示 */
            color: #f5f3eb; /* ★文字色 */
            text-align: center; /* 文字揃え */
            background-color: #0bd; /* ★背景色 */          
            position: fixed; /* 絶対配置 */
            right:0; /* ★右から0px  */
            top:0; /* ★上から0px  */
            z-index: 9999; /* 画面の重なり一番上 */
            font-size: 140%; /* 文字サイズを好みで大きく */
            width: 2em; /* 横幅 */
            line-height: 2em; /* 高さ */
            border-bottom: solid 1px #fff;/* 下線 */
            border-left: solid 1px #fff;/* 左線 */
            }
    .navmenu:before{ content: "≡";/* ★≡　表示 *//* ×にアニメ効果をつけるため */
    				transition: all 0.8s; /* ★変わるまでの時間を設定（1sは1秒） */
    				} 
    
    input[type="checkbox"].on-off{
            display: none; /* 通常は非表示 */
            }
 
    input[type="checkbox"].on-off ~ .menu { /*  ~ ul 後ろにある .menuに適用 */
              overflow: hidden; /* display: none;では高さが出ない */
              transition: all 0.8s ease-out /* ★変わるまでの時間を設定 ease-out ゆっくり終わる（1sは1秒） */
            }
 
    input[type="checkbox"].on-off:checked ~ .menu { /* :checkedは疑似クラス チェックボックスがオンの状態の時 */
        top: 0; /* マイナスにしていた上を0に戻す */
 }
     .navmenu { cursor: pointer; } /* ★マウスカーソルの形状 ポインター */
     
     
     /* チェックボックスオンの時 */
input[type="checkbox"].on-off:checked ~ .navmenu:before{
 content: "×"; /* ★×　表示 */
 display: inline-block;/* アニメ効果をつけるため */
 transform: rotateX(360deg) scale(1.5); /* ★回転風になる ちょっと大きくする */
}
    

/*--------------------------------------------------------------------------------------------- */
  } /* スマホ用　ここまで */
/*--------------------------------------------------------------------------------------------- */